
.content{
    position: absolute;
    margin-bottom: 40px;
    margin-right: 300px;
    
  
    margin-left: 300px;
    margin-top: 60px;
    height: 80%;
    width: 60%;
    border: 3px solid green;
    background-color: #fdddb8;
    padding: 50px;
  }
  
  
  
  .heading{
    position: sticky;
    margin-left: 120px;
  }